/* defualt */

/* * = 모든 태그 */
        *{
            /* box-sizing: content-box; width가 콘텐츠만 가리킴*/
            box-sizing: border-box;
        }

/* 기능적 class적용 */
        .blind{
            position: absolute;
            overflow: hidden;
            clip: rect(0 0 0 0);

            width: 1px;
            height: 1px;

            margin: -1px;
        }
        .center-align{
            margin: 0 auto;
            width: 1080px;   /*console창에 screen.width  입력*/
        }


/* header영역 */
        header{
            height: 170px;
        }
        .header-img{
            background-image: url("./sp_search.svg");
            background-repeat: no-repeat;

            display: inline-block;
        }
        /*header-top 요소*/
        #header-top{
            float: right;
        }
        #header-top span{
            line-height: 22px;
            font-size: 11px;
            letter-spacing: -1px;    /*자간*/
            color: #888;           /*#888 = 888888*/
        }
        /*검색창 및 로고*/
        #header-search{
            clear: both;
            position: relative;

            padding-top: 15px;
        }
        #header-seach a{
            text-decoration: none;
        }
        #header-search h1{
            vertical-align: middle;
            position: relative;
            top: -6px;
                
            width: 198px;
            height: 48px;    
            overflow: hidden;
            
            background-position: -4px -4px;
            text-indent: 100%;
        }
        #header-search fieldset{
            vertical-align: middle;
            position: relative;

            width: 520px;
            height: 49px;    
            margin-left: 20px;
            padding: 12px 0 12px 10px;
            border: 2px solid #03cf5d;
            display: inline-block;
            
        }
        #header-search fieldset input{
            vertical-align: top;

            border: none;
            padding: 0;
            outline: none;
            width: 405px;
            height: 23px;
        }
        #search-keyboard{
            width: 19px;
            height: 11px;

            background-position: -33px -60px;
        }
        #search-history{
            width: 9px;
            height: 4px;

            background-position: -87px -60px;
            position: absolute;
            right: 56px;
            top: 50%;
        }
        #header-search fieldset button{
            vertical-align: middle;
            position: absolute;
            right: -2px;
            top: -2px;

            width: 49px;
            height: 49px;
            border: none;
            padding: 0;
            background: #03cf5d;
        }
        #search-image{    
            width: 21px;
            height: 21px;
            margin: 14px;

            background-position:-3px -60px;
        }
/* navigation 영역 */
        nav{
            height: 46px;
            border-top: 1px solid #f1f3f6;
            border-bottom: 1px solid #f1f3f6;;
        }
        #search-ranking{
            float: right;

            padding-top: 16px;
        }
        .rank-numbering{
            margin-top: -9px;

            color: #00ab33;
            font-size: 16px;
        }
        nav ul{
            float: left;
            margin: 0;
            padding: 0;
            list-style: none;/*글머리기호 스타일*/
        }
        .nav-divider{
            float: left;
        }
        #nav-green{
            padding-left: 14px;
        }
        #nav-black{
            padding-left: 4px;
        }
        nav li{
            display: inline-block;
            padding-top: 16px;
        }
        nav li span:last-child{
            margin-left: 14px;
            height: 16px;

            background-image: url("./sp_nav_v200110.png");
            background-repeat: no-repeat;
            display: inline-block;
        }
        #nav-mail{
            margin-left: 0px;
            width: 25px;
            background-position: -294px -156px;
        }
        #nav-cafe{
            width: 27px;
            background-position: -234px -234px;
        }
        #nav-blog{
            width: 40px;
            background-position: -50px -182px;
        }
        #nav-JSIn{
            width: 40px;
            background-position: -128px -130px;
        }
        #naver-shpping{
            width: 26px;
            background-position: -111px -260px;
        }
        #nav-naverPay{
            width: 25px;
            background-position: -294px -208px;
        }
        #nav-naverTv{
            width: 32px;
            background-position: -200px -182px;
        }
        #nav-dic{
            width: 26px;
            background-position: -294px -26px;
        }
        #nav-news{
            width: 28px;
            background-position: -85px -234px;
        }
        #nav-stock{
            width: 26px;
            background-position: -255px -260px;
        }
        #nav-realEstate{
            width: 40px;
            background-position: -125px -156px;
        }
        #nav-map{
            width: 27px;
            background-position: -123px -234px;
        }
        #nav-movie{
            width: 27px;
            background-position: -37px -260px;
        }
        #naver-music{
            width: 26px;
            background-position: -219px -260px;
        }
        #nav-book{
            width: 13px;
            background-position: -294px -260px;
        }
        #nav-webtoon{
            width: 27px;
            background-position: -74px -260px;
        }
        #nav-more{
            width: 55px;
            background-position: 0 -130px;
        }
/* main */
        main{
            background-color: #f2f4f7;
            overflow: auto;
        }
        #main-right{
            width: 740px;
            float: right;
        }
        #main-left{
            width: 332px;
            float: left;
        }